<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
    <input type="text" v-model="ii"><br>
    <input type="text" v-model.lazy="pp"><br>
    <textarea v-model="msg"></textarea>
    대전 : <input type="checkbox" name="" id="" value="대전" v-model="areas">
    서울 : <input type="checkbox" name="" id="" value="서울" v-model="areas">
    광주 : <input type="checkbox" name="" id="" value="광주" v-model="areas">
    구미 : <input type="checkbox" name="" id="" value="구미" v-model="areas">
    부울경 : <input type="checkbox" name="" id="" value="부울경" v-model="areas">

    </div>
</body>
<script>
    new Vue({
        el:'#app',
        data() {
            return {
                ii:'',
                pp:'',
                msg:'hello \n vue.js \n so easy \n',
                areas:["대전"],
            }
        },

    })
</script>
</html>