<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="jimin" class="ver1_xml_around.Girl"/>
	<bean id="sumin" class="ver1_xml_around.Boy"/>
	<bean id="common" class="ver1_xml_around.CommonAspect"/>
	
	<aop:config>
		<aop:aspect ref="common">
			<aop:around method="aaaround" pointcut="within(ver1_xml_around.*)"/>
		</aop:aspect>
	</aop:config>
</beans>
