<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.project.dto.attraction.AttractionRepository">

	<select id="isRoute" parameterType="int" resultType="RouteDistanceDto">
		SELECT * from attraction_info where content_id=#{point}
	</select>

</mapper>