<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.project.dto.like.LikeRepository">

<insert id="likeAdd" parameterType="LikeAttractionDto">
	INSERT INTO likeAttraction (userId,content_id,likeCheck)
	VALUES (#{userId},#{contentId},1)
</insert>

<select id="isLikeCheck" resultType="int" parameterType="map">
	SELECT likeCheck FROM likeAttraction WHERE userId=#{userId} and content_id=#{contentId}
</select>


<select id="showLikeList" resultType="LikeListDto">
	select * from attraction_info as a join (select content_id, count(*) as likeCount from likeAttraction group by content_id) as b on a.content_id = b.content_id order by likeCount desc;
</select>
</mapper>
